/* ?============= SLIDER.CSS =============?*/

/* ?==== copyright 2023 Muhammad Usama (Alpha97) =====?*/



.slider {
  display: flex;
  align-items: center;
  gap: 30px;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
}

.slider-item {
  scroll-snap-align: start;
}